:root {
    --dark: rgb(29, 27, 27);
    --light: antiquewhite;
}

* {
    margin: 0px;
    padding: 0px;
    background-color: var(--dark);
    color: var(--light);
}

nav {
    text-align: center;
    font-size: 66px;
}

body {
    background-color: var(--dark);
}

.container {
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: var(--dark);
    width: 100%;
}

.searchAndToday {
    height: 350px;
}

/* .searchBar {
    
} */

#historyContainer {
    text-align: start;
}

.mb-5 {
    margin-bottom: 1rem !important;
}

.fiveDayContainer {
    justify-content: space-evenly;
    font-size: 14px;
}

a:hover {
    font-size:larger;
    cursor: pointer;
}