* {
    margin: 0px;
    padding: 0px;
    background-color: darkgray;
}

nav {
    text-align: center;
    font-size: 66px;
}

.container {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.searchAndToday {
    height: 325px;
}

.searchBar {
    background-color: violet;
}

.weatherDisplay * {
    background-color: bisque;
}

.fiveDayContainer {
    justify-content: space-evenly;
    font-size: 14px;
}